<h2> NOTHING HERE NOW </h2>
<%console.log(results)%>
<ul>
<%results.forEach(function(item){ %>
	<li>
		<a class ="boardTopic" href='/boards/single/<%= item.id %>'>
				
				<%= item.boardtopic %>
				</a>
	</li>


<% })%>
</ul>




